.site-footer {
  background-color: #45006f; 
  color: white;
  padding: 60px 0;
  width: 100%;
  font-family: Arial, sans-serif;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; 
  flex-direction: row; 
  justify-content: space-between;
  align-items: flex-start;
}

.footer-column {
  flex: 1; 
  padding: 0 40px;
  text-align: left;
}

.border-right {
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-column h4 {
  font-size: 1.3rem;
  margin-bottom: 20px;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  width: 100%;
}

.footer-legal-box {
  margin-top: 20px;
  font-size: 0.85rem;
  line-height: 1.5;
}

.legal-links a {
  color: #00d4ff; 
  text-decoration: none;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}


.footer-socials {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}

.footer-socials i {
  font-size: 2.2rem;
  color: white;
}


.fa-circle-dot {
  color: #00d4ff !important;
}